In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {'list1': [1, 3, 5, 6],
        'list2': ['one', 'two', 'NaN','six'],
        'list3': ['apple', 'bananan', 'mangoes', 'oranges']}
print(data)

{'list1': [1, 3, 5, 6], 'list2': ['one', 'two', 'NaN', 'six'], 'list3': ['apple', 'bananan', 'mangoes', 'oranges']}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print(df)

   list1 list2    list3
0      1   one    apple
1      3   two  bananan
2      5   NaN  mangoes
3      6   six  oranges

In [ ]:
df.to_csv('data.csv', index=False)

In [ ]:
df.describe()

          list1
count  4.000000
mean   3.750000
std    2.217356
min    1.000000
25%    2.500000
50%    4.000000
75%    5.250000
max    6.000000

In [ ]:
df.columns = list('abc')
df

   a    b        c
0  1  one    apple
1  3  two  bananan
2  5  NaN  mangoes
3  6  six  oranges

In [ ]:
df.loc[0,'a'] = 0
df

   a    b        c
0  0  one    apple
1  3  two  bananan
2  5  NaN  mangoes
3  6  six  oranges

In [ ]:
df.isna()

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
df['a' ] = None

In [ ]:
df.isnull()

      a      b      c
0  True  False  False
1  True  False  False
2  True  False  False
3  True  False  False